* {
  margin: 0;
  padding: 0;
  -moz-user-drag: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -webkit-user-select: none;
  -ms-user-select: none;
  user-select: none;
  box-sizing: border-box;
  overflow: hidden;
  touch-action: none;
}

html,
body,
#root {
  width: 100%;
  height: 100%;
  overscroll-behavior: contain;
}
